<!DOCTYPE html>
<html>
<head>
	<title>sing up</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'secrets/css/style.css' %}"" type="text/css">
</head>
<body>
	<div id="sign_up">
 		<h1>Not a Member sign up first:</h1>
 		{% if messages %}
  			{% for msg in messages%}
  				<ul>
    				<li>
      					{{ msg }}
    				</li>
  				</ul>
  			{% endfor %}
		{% endif %}
 		<form action="/signup" method="POST">
 			{% csrf_token %}
 			<label class= sign_up>First name:</label>
 			<br>
 			<input type="text" name="first_name" class="sign_up">
 			<br>
 			<label class="sign_up">Last Name:</label>
 			<br>
 			<input type="text" name="last_name" class="sign_up">
 			<br>
 			<label class="sign_up">Email:</label>
 			<br>
 			<input type="text" name="email" class="sign_up">
 			<br>
 			<label class="sign_up">Passwordt</label>
 			<br>
 			<input type="password" name="password" class="sign_up">
 			<br>
 			<label class="sign_up">Password comfirm</label>
 			<br>
 			<input type="password" name="pw_comfirm" class="sign_up">
 			<br>
 			<br>
 			<input type="submit" value="Submit" class="sign_up">
 			<br>
 			
 		</form>
	</div>

	<div id="login">
		<h1>Already a member login:</h1>
		<form action="/login" method="POST">
 			{% csrf_token %}
 			<label class="sign_up">Email:</label>
 			<br>
 			<input type="text" name="email" class="sign_up">
 			<br>
 			<label class="sign_up">Passwordt:</label>
 			<br>
 			<input type="password" name="password" class="sign_up">
 			<br>
 			<br>
 			<input type="submit" value=" Login" class="sign_up">
 			<br>
 			
 		</form>
	</div>
</body>
</html>