<!DOCTYPE html>
<html>
<head>
	<title>Most populair</title>
</head>
<body>
	<a href="logout">LOGOUT</a> &nbsp &nbsp | &nbsp &nbsp <a href="/secrets">BACK</a>
	<h1>Most Popular Secrets:</h1>
	{% if secrets %}
		{% for secret in secrets %}
			<table >
				<tr classs='secrets'>
					<td>
						<h3>{{secret.content}}</h3>
						<p>{{secret.created_at}}</p>
						{% if not user in secret.like.all %}
							<form action="/secrets/like_pop" method="POST">
								{% csrf_token %}
								<input type="hidden" name="secret_id" value="{{ secret.id }}">
								<input type="submit" value="LIKE">
								
							</form>
						{% else %}	
							<form action="/secrets/un_like_pop" method="POST">
								{% csrf_token %}
								<input type="hidden" name="secret_id" value="{{ secret.id }}">
								<input type="submit" value="UNLIKE">
								
							</form>
						{% endif %}
						<p>totall {{secret.numlike}} likes</p>
					</td>
					<td>
						{% if user.id == secret.creator.id %}
							<form action="/secrets/delete_secrets_pop" method="POST" >
								{% csrf_token %}
								<input type="hidden" name="id" value="{{secret.id}}">
								<input type="submit" value="Delte">
							</form>
						{% endif %}

					</td>
				</tr>
			</table> 
		{% endfor %}
	{% endif %}	
</body>
</html>