<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
	 {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'secrets/css/style.css' %}"" type="text/css">
</head>
<body>
	<a href="logout">LOGOUT</a>
	<h1>welcome</h1>
	<h1>{{user.first_name}} {{user.last_name}}</h1>
	<br>
	<br>
	{% if messages %}
		{% for msg in messages%}
			<ul>
			<li>
					{{ msg }}
			</li>
			</ul>
		{% endfor %}
	{% endif %}
	<form action="/secrets/create" method=POST>
		{% csrf_token %}
		<label>Your secret:</label>
		<br>
		<textarea name="content" rows="4" cols="80">
		</textarea>
		<br>
		<br>
		<input type="submit" value="Post ">
		
	</form>
	<h1>Latest Secrets &nbsp &nbsp &nbsp &nbsp(go to: <a href="secrets/populair">Most popular Secrets</a>)</h1>
	{% if secrets %}
		{% for secret in secrets %}
			<table >
				<tr classs='secrets'>
					<td>
						<h3>{{secret.content}}</h3>
						<p>{{secret.created_at}}</p>
						{% if not user in secret.like.all %}
							<form action="secrets/like" method="POST">
								{% csrf_token %}
								<input type="hidden" name="secret_id" value="{{ secret.id }}">
								<input type="submit" value="LIKE">
								
							</form>
						{% else %}	
							<form action="/secrets/un_like" method="POST">
								{% csrf_token %}
								<input type="hidden" name="secret_id" value="{{ secret.id }}">
								<input type="submit" value="UNLIKE">
								
							</form>
						{% endif %}
						<p>totall {{secret.numlike}} likes</p>
					</td>
					<td>
						{% if user.id == secret.creator.id %}
							<form action="/secrets/delete_secrets" method="POST" >
								{% csrf_token %}
								<input type="hidden" name="id" value="{{secret.id}}">
								<input type="submit" value="Delte">
							</form>
						{% endif %}

					</td>
				</tr>
			</table> 
		{% endfor %}
	{% endif %}	
</body>
</html>